.yellow {
	color: #f1f139;
}

#loader {
 color: #f1f139!important;
}

.section-intro h5 {
    color: inherit;
}

@media only screen and (min-width: 546px) {
.intro-social {
	font-size:5rem;
text-align: left;
   margin: 0 33vw 0;
}
}

.section-intro h1 {
font-family: sans-serif;
}

.about-content .info-list li strong {
font-family: sans-serif;
    font-size: inherit;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
	font-weight:bold;
}

.tlac1{
font-size: 1.8rem!important;
font-weight: 900!important;
font-family: sans-serif!important;
}

section#intro {
    overflow: hidden;
}

#folio-wrapper > div:nth-child(3) > div > a {

width: 65.5%
}
